html {
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}

.hero{
    display: flex;
    flex-direction: row;
   align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
    min-height: 100vh;
    margin: 0 20px;
}


.hero-image img {
    max-width: 100%;
    height: 20em;
}
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}
.hero-content h1{
    font-size: 3em;
  
    margin-bottom: 20px;
    color: #344761;
}
.hero-content p{
    font-size: 1.2em;
    color: #344761bb;
    text-align: center;
    max-width: 600px;
}
 .hero-content h1 span{
    color: #5c99ee;
    border-bottom: 2px solid #5c99eeb8;

}
.hero-content .hero-link{
    display: flex;
    align-items: center;

    gap: 10px
}


.about{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 20px;
    min-height: 100vh;
    width: auto;
    max-width: 100%;

    color: #344761;
}
.about-image img {
    max-width: 100%;
    height: 100vh;
    width: auto;
}
.about-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
            /* width: 50%; */
    max-width: 50%; 
    width: auto;
}

.about .about-content .num{
   
    border-top: 1px solid #535d6bb9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;

    color: #344761;

}
.about .about-content .num h3{
 color: #5c99ee;
}

.services{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 20px;
    min-height: 100vh;
    width: auto;
    max-width: 100%;

    color: #344761;
}
.services .services-header{
    /* justify-self: center; */
    text-align: center;
}
.services .services-header h2 span{
    font-size: 2em;
    margin-bottom: 20px;
    border-bottom: 3px solid #5c99ee;
}

.services .services-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin-top: 30px;
}
 .mycard{
    width: 30vw;
    border: 1px solid #d1d9e6;
    padding: 20px;
    border-radius: 10px;
    height: auto;

}

 .mycard:hover{
    box-shadow: 0 4px 8px 0 rgba(14, 121, 243, 0.366);
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
    
}

.services .services-cards .mycard a{
    text-decoration: none;
    color: #344761;
}
/* .services .services-cards .mycard a:hover{
    text-decoration: none;
    color: #5c99ee;
} */

.cardsOnly{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
    margin-top: 30px;
    color: #344761;
}
.cardsOnly .mycard{
    width: 23vw;
   
    
}
.cardsOnly .mycard img{
    width: 100%;
    height: auto;
}

.hero .hero-link{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero .hero-link .watch-demo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.hero .hero-link .watch-demo .icon {
    width: 50px;
    height: 50px;
    background-color: #5c99ee;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
}

.watch-demo:hover {    
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
   
}
.hero .hero-link .my-btn{
    background-color: #5c99ee;
    color: white;
    border: none;
    padding: 10px 20px;
    width: auto;
    height: 50px;
    border-radius: 5px;
    transition: all 0.3s ease;

}
.hero .hero-link .my-btn:hover{
    
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
   
}

.services .services-cards .mycard .icon {
    font-size: em;
    color: #5c99ee;
    margin-bottom: 15px;
}